# Github: https://raw.githubusercontent.com/allex/dotfiles/master/.gitignore
# git config --global core.excludesfile '~/.gitignore'
# see http://groups.google.com/group/peepcode/browse_thread/thread/fe6f9c1fc9d6e725
# http://git-scm.com/docs/gitignore

.git
.svn
.hg
.lock-wscript
.wafpickle-N

*.zip
*.gz
*.tgz

.DS_Store

# Editor directories and files
.idea
.vscode
.project
.tern-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.iml
*.ipr
*.iws

# Netbeans
.nbproject
nbproject
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

*~
*.swp
*.tmp
*.save
*.log
.sass*
.settings

.netrwhist
.~vimrc

**/*.map
**/.*-cache

node_modules/*
logs/*
npm-debug.log
package-lock.json
yarn.lock
tmp.*
config.gypi

.build_*

*.bak
/target
[a-z0-9].*

# local env files
.env.local
.env.*.local

.*_cache
.*_cache_*
