# Github: https://raw.githubusercontent.com/allex/dotfiles/master/.gitignore
# git config --global core.excludesfile '~/.gitignore'
# see http://groups.google.com/group/peepcode/browse_thread/thread/fe6f9c1fc9d6e725
# http://git-scm.com/docs/gitignore

.git
.svn
.hg
.lock-wscript
.wafpickle-N

*.zip
*.gz
*.tgz

.DS_Store

# IntelliJ - PhpStorm and PyCharm
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText project files
/*.sublime-project
*.sublime-workspace

*~
*.swp
*.tmp
*.save
*.log
.sass*
.settings

.netrwhist
.session.vim

**/*.map
**/.*-cache

node_modules/*
logs/*
npm-debug.log
package-lock.json
yarn.lock
tmp.*
config.gypi

.project
.vscode
.tern-project
.build_*

*.bak
/target
[a-z0-9].*
