# Allex Wang personal global gitconfig
# Github: https://raw.githubusercontent.com/allex/dotfiles/master/.gitconfig
[user]
    name = Allex Wang
    email = allex.wxn@gmail.com

[color]
    ui = auto

[filter "tabspace"]
    clean = expand --tabs=4 --initial
    smudge = unexpand --tabs=4 --first-only

[alias]
    st = status --porcelain --ignore-submodules=dirty -s
    ci = commit
    br = branch
    co = checkout
    df = diff -b
    dt = difftool
    l = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ai\n%C(green)%s\n%b%N"'
    # lg = log -p
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr | %cn)%Creset' --abbrev-commit --date=relative
    shlog = log --pretty=\"%Cgreen%h%Creset - %Cred%ci%Creset - %s (%Cred%an%Creset)\"
    fshow = !sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq' -
    vim   = !sh -c 'vim `git fshow $1`' -
    mate  = !sh -c 'mate `git fshow $1`' -
    subl  = !sh -c 'subl `git fshow $1`' -
    wtf   = !git-wtf
    rmbranch = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"
    up = "!f(){ git pull \"$@\" && git submodule init && git submodule update && git submodule foreach git pull origin master; };f"

[core]
    # deactivate LF will be replaced by CRLF
    autocrlf = false

    # make git ignore white space differences, many different possibilites here
    # check http://www.kernel.org/pub/software/scm/git/docs/git-config.html#_variables
    whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent

    pager = less -R
    warnambiguousrefs = false
    excludesfile = ~/.gitignore
    ignore = dirty

[branch]
    autosetuprebase = always

[diff]
    tool = "git-diff"

[diff "nodiff"]
    # create a difftool "nodiff" that just returns true
    # this path is for linux. On Mac it's /usr/bin/true i guess
    command = /bin/true

[difftool]
    prompt = false

[difftool "git-diff"]
    cmd = "/usr/bin/vimdiff -f -n \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = vimdiff

[github]
    user = allex

[pull]
    rebase = true
