[user]
	name = Allex
	email = allex.wxn@gmail.com

[color]
    ui = auto

[filter "tabspace"]
    clean = expand --tabs=4 --initial
    smudge = unexpand --tabs=4 --first-only

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dt = difftool
    l = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ai\n%C(green)%s\n%b%N"'
    lg = log -p
    shlog = log --pretty=\"%Cgreen%h%Creset - %Cred%ci%Creset - %s (%Cred%an%Creset)\"
    fshow = !sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq' -
    vim   = !sh -c 'vim `git fshow $1`' -
    mate  = !sh -c 'mate `git fshow $1`' -
    subl  = !sh -c 'subl `git fshow $1`' -
    wtf   = !git-wtf

[core]
    # make git ignore white space differences, many different possibilites here
    # check http://www.kernel.org/pub/software/scm/git/docs/git-config.html#_variables
    whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent

    pager = less -R
	warnambiguousrefs = false

    # autocrlf = input
    # autocrlf = true
    # editor = "/usr/bin/vim"
    # whitespace = cr-at-eol

[diff]
    tool = "git-diff"

[diff "nodiff"]
    # create a difftool "nodiff" that just returns true
    # this path is for linux. On Mac it's /usr/bin/true i guess
    command = /bin/true

[difftool]
    prompt = false

[difftool "git-diff"]
    cmd = "/usr/bin/vimdiff -f -n \"$LOCAL\" \"$REMOTE\""

[merge]
    tool = vimdiff

[github]
	user = allex
