# git config --global core.excludesfile '~/.gitignore'
# see http://groups.google.com/group/peepcode/browse_thread/thread/fe6f9c1fc9d6e725

.git
.svn
.hg
.zip
.gz

.DS_Store

*~
*.swp
*.tmp

.netrwhist
.session.vim
t.*
